html {
  color-scheme: light dark;
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width:100ch;
    margin-inline: auto;
    padding: 20px;
  }

  h1 {
    line-height: 1.1;
    font-size: 4em;
    text-wrap: balance
  }
  
  h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
  }

:root {
  --color-accent:oklch(65% 50% 0);
  color-scheme: dark;
}

nav {
  display: flex;
  margin-bottom: 5px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: oklch(50% 10% 200 / 40%);
}

a.nav_link {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

a.current {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  font-weight: bold;
}

a.nav_link:hover {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  accent-color: var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

a.current:hover {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  accent-color: var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

form {
  display: grid;
  grid-template-columns: auto lfr;
  grid-column: 1 / -1;
  gap: 1em
}

label {
  font: inherit;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  gap: 1em
}

input.email {
  font: inherit;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  gap: 1em
}

input.subject {
  font: inherit;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  gap: 1em
}

textarea.body {
  font: inherit;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  gap: 1em
}

button {
  font: inherit;
  display: grid;
  grid-template-columns: subgrid;
  gap: 1em
}

select {
  font: inherit;
}

div.projects {
  & article {
    & h2 {
      margin: 0;
      line-height: 1.1;
      text-wrap: balance;
    }
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 1em
  }

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

article.CV {
  display: grid;
  grid-template-columns: 2;
  gap: 1em;
}

.about_me {
  display: block;
  grid-template-rows: subgrid;
  grid-column: 1;
  grid-row: 1;
  gap: 1em
}

.education {
  display: grid;
  grid-template-rows: subgrid;
  grid-column: 1;
  grid-row: 2;
  gap: 1em
}

.experience {
  display: grid;
  grid-template-rows: subgrid;
  grid-column: 1;
  grid-row: 3;
  gap: 1em
}

.skills {
  display: grid;
  grid-template-rows: subgrid;
  grid-column: 2;
  grid-row: 1;
  gap: 1em
}

.projects {
  display: grid;
  grid-template-rows: subgrid;
  grid-column: 2;
  grid-row: 2;
  gap: 1em
}

.contact {
  display: grid;
  grid-template-rows: subgrid;
  grid-column: 2;
  grid-row: 3;
  gap: 1em
}

a.recipes_project {
  border: 0ch;
}

a.recipes_project:hover {
  text-decoration: underline;
  font-weight: bolder;
  color: orange;
  border-bottom-width: 0.2em;
  border-bottom-style: groove;
  border-bottom-color: pink;
  background-color: transparent;
  padding-bottom: 0px;
}

a.vehicles_project {
  border: 0ch;
}

a.vehicles_project:hover {
  text-decoration: none;
  background: linear-gradient(black, white);
  color: black;
  border-bottom-width: 0.2em;
  border-bottom-style: dashed;
  border-bottom-color: red;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltipimage {
  position: absolute;
  visibility: hidden;
  bottom: 100%;
  z-index: 9999;
  float:inline-end
}

.tooltip:hover .tooltipimage {
  visibility: visible;
  display: block;
}

label.color-scheme {
  display: block; 
  position: absolute;
  top: 5px;
  right: 1rem;
  font-family: inherit;
  font-size: 80%;
}

dl.stats {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  grid-template-rows: auto auto;
  text-align: center;

  & dt {
    display: flex;
    grid-row: 1;
    font-weight: bold;
    color: gray;
  }

  & dd {
    display: flex;
    grid-row: 2;
    margin: 0;
    font-size: 125%;
  }
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;

  overflow: visible;
}

.legend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  gap: 1em;
  flex: 1;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  margin: 1.5em;
  padding: 1em;
}

.swatch {
  display: inline-flex;
  width: 10px;
  aspect-ratio: 1/1;
  background-color: var(--color);
  border-radius: 50%;
}

#pie-chart-legend-key {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pie-chart-container {
  display: flex;
  align-items: center;
}

.searchBar {
  font: inherit;
  display: subgrid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  gap: 1em;
  margin-bottom: 2em;
  align-items: center;
}

#searchBar {
  display: grid;
}

&:has(path:hover) {
  path:not(:hover) {
    opacity: 0.5;
  }
}

path {
  transition: 300ms;
  cursor: pointer;
}

.selected {
  --color: oklch(60% 45% 0) !important;

  &:is(path) {
    fill: var(--color);
    transform: scale(1.1);
  }
}

.gridlines {
  opacity:0.25;
}

dl.info {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  grid-template-rows: auto auto;
  text-align: center;
  background-color: white;
  border-width: 2px;
  border-color: gray;
  border-style: solid;
  padding: 1em;
  box-shadow: 10px 5px 5px gray;
  transition-duration: 500ms;
  transition-property: opacity, visibility;

  & dt {
    display: flex;
    grid-row: 1;
    font-weight: bold;
    color: gray;
    padding-left: 0.75em;
    padding-right: 0.75em;
  }

  & dd {
    display: flex;
    grid-row: 2;
    margin: 0;
    font-size: 125%;
    padding-left: 0.75em;
    padding-right: 0.75em;
    color: black;
  }
}

dl.info[hidden]:not(:hover, :focus-within) {
  opacity: 0;
  visibility: hidden;
}

.tooltip {
  position: fixed;
  top: 1em;
  left: 1em;
}

circle {
  transition: 200ms;
  transform-origin: center;
  transform-box: fill-box;
  @starting-style {
    r: 0;
  }
}

circle:hover {
  transform: scale(1.5);
}

@keyframes marching-ants {
  to {
    stroke-dashoffset: -8; /* 5 + 3 */
  }
}

.selection {
  fill-opacity: 0.1;
  stroke: black;
  stroke-opacity: 0.7;
  stroke-dasharray: 5 3;
  animation: marching-ants 2s linear infinite;
}

circle.selected {
  fill: #ff6b6b;
}

#files {
  display: grid;
  grid-template-columns: 1fr 4fr;

  > div {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
  }

  dt {
    grid-column: 1;
  }

  dd {
    grid-column: 2;
  }
}

.loc {
  display: flex;
  width: 0.5em;
  aspect-ratio: 1;
  background: var(--color);
  border-radius: 50%;
}

#files dd {
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  align-content: start;
  gap: 0.15em;
  padding-top: 0.6em;
  margin-left: 0;
}

#scrolly-1 {
  position: relative;
  display: flex;
  gap: 1rem;
}

#scrolly-1 > * {
  flex: 1;
}

#scatter-story {
  position: relative;
}

#scatter-plot {
  position: sticky;
  top: 0;
  left: 0;
  bottom: auto;
  height: 50vh;
}

.step {
  padding-bottom: 1080px;
}