html {
  color-scheme: light dark;
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width:100ch;
    margin-inline: auto;
    padding: 20px;
  }

  h1 {
    line-height: 1.1;
    font-size: 4em;
    text-wrap: balance
  }
  
  h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
  }

:root {
  --color-accent:oklch(65% 50% 0);
  color-scheme: dark;
}

nav {
  display: flex;
  margin-bottom: 5px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: oklch(50% 10% 200 / 40%);
}

a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

a.current {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  font-weight: bold;
}

a:hover {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  accent-color: var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

a.current:hover {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  accent-color: var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

form {
  display: grid;
  grid-template-columns: auto lfr;
  grid-column: 1 / -1;
  gap: 1em
}

label {
  font: inherit;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  gap: 1em
}

input.email {
  font: inherit;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  gap: 1em
}

input.subject {
  font: inherit;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  gap: 1em
}

textarea.body {
  font: inherit;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  gap: 1em
}

button {
  font: inherit;
  display: grid;
  grid-template-columns: subgrid;
  gap: 1em
}

select {
  font: inherit;
}

div.projects {
  & article {
    & h2 {
      margin: 0;
      line-height: 1.1;
      text-wrap: balance;
    }
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 1em
  }

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

article.CV {
  display: grid;
  grid-template-columns: 2;
  gap: 1em;
}

.about_me {
  display: block;
  grid-template-rows: subgrid;
  grid-column: 1;
  grid-row: 1;
  gap: 1em
}

.education {
  display: grid;
  grid-template-rows: subgrid;
  grid-column: 1;
  grid-row: 2;
  gap: 1em
}

.experience {
  display: grid;
  grid-template-rows: subgrid;
  grid-column: 1;
  grid-row: 3;
  gap: 1em
}

.skills {
  display: grid;
  grid-template-rows: subgrid;
  grid-column: 2;
  grid-row: 1;
  gap: 1em
}

.projects {
  display: grid;
  grid-template-rows: subgrid;
  grid-column: 2;
  grid-row: 2;
  gap: 1em
}

.contact {
  display: grid;
  grid-template-rows: subgrid;
  grid-column: 2;
  grid-row: 3;
  gap: 1em
}

a.recipes_project:hover {
  text-decoration: none;
  font-weight: bolder;
  color: yellow;
  border-bottom-width: 0.4em;
  border-bottom-style: groove;
  border-bottom-color: pink;
}

a.vehicles_project:hover {
  text-decoration: none;
  background: linear-gradient(black, white);
  color: black;
  border-bottom-width: 0.2em;
  border-bottom-style: dashed;
  border-bottom-color: red;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltipimage {
  position: absolute;
  visibility: hidden;
  bottom: 100%;
  z-index: 9999;
  float:inline-end
}

.tooltip:hover .tooltipimage {
  visibility: visible;
  display: block;
}

label.color-scheme {
  display: block; 
  position: absolute;
  top: 10px;
  right: 1rem;
  font-family: inherit;
  font-size: 80%;
}